

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border-radius: 15px;
}

.custom-path {
  display: inline-block;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border-radius: 15px;
}



::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    background: lightseagreen; 
    border-radius: 15px;
  }